@model WarehouseModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.WarehouseDetailsTop, additionalData = Model })
            <div class="panel panel-default">
                <div class="panel-body">
                    @(Html.LocalizedEditor<WarehouseModel, WarehouseLocalizedModel>("warehouse-info-localized",
                    @<div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="@Model.Locales[item].Name" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="@Model.Locales[item].Name" />
            <span asp-validation-for="@Model.Locales[item].Name"></span>
        </div>
    </div>
    <nop-editor asp-for="@Model.Locales[item].Address" asp-template="Address" />
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="@Model.Locales[item].Governorate" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="@Model.Locales[item].Governorate"/>
            <span asp-validation-for="@Model.Locales[item].Governorate"></span>
        </div>
    </div>
    <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
</div>
                    ,
                    @<div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Name" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Name" asp-required="true" />
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="StoreCode" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="StoreCode" asp-required="true" />
                                <span asp-validation-for="StoreCode"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="StoreTimings" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="StoreTimings" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Features" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Features" />
                                <span asp-validation-for="Features"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="AdminComment" />
                            </div>
                            <div class="col-md-9">
                                <nop-textarea asp-for="AdminComment" />
                                <span asp-validation-for="AdminComment"></span>
                            </div>
                        </div>
                        <nop-editor asp-for="Address" asp-template="Address" />
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Governorate" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Governorate" />
                                <span asp-validation-for="Governorate"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Latitude" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Latitude" asp-required="true" />
                                <span asp-validation-for="Latitude"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Longitude" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Longitude" asp-required="true" />
                                <span asp-validation-for="Longitude"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="IsWarehouse" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="IsWarehouse" asp-required="true" />
                                <span asp-validation-for="IsWarehouse"></span>
                            </div>
                        </div>
                    </div>
                    ))

                </div>
            </div>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.WarehouseDetailsBottom, additionalData = Model })
        </div>
    </div>
</div>