@using Nop.Core.Gateway
@model Nop.Core.Gateway.GatewayApiRequest

<script type="text/javascript">
    var DotNetSample = {
        operation: function() {
            return "CHECK_3DS_ENROLLMENT";
        },
        endpoint: function() {
            return "check3dsEnrollment";
        },
        secureIdResponseUrl: function() {
            return encodeURI(window.location.protocol + "//" + window.location.host + "/process3ds");
        }
    };
</script>
<!-- APPLY CLICK-JACKING STYLING AND HIDE CONTENTS OF THE PAGE -->
<style id="antiClickjack">body{display:none !important;}</style>
<!-- INCLUDE SESSION.JS JAVASCRIPT LIBRARY -->
<script src="@ViewBag.JavascriptSessionUrl"></script>
<div class="col-9">
    <div class="row">
        <div class="contents col-12">
            <div class="col-md-12">
                <h3>Pay with 3DS</h3>
                <div class="alert alert-warning" role="alert">
                    <p><strong>NOTE:</strong> You can also do an authorization using 3D Secure, depending on your merchant settings.</p>
                    <p>Here are the processes that occur for this transaction:</p>
                    <ol>
                        <li>Use the <a href="@ViewBag.DocumentationCreateSessionUrl" target="_blank">CREATE_CHECKOUT_SESSION</a> operation to collect sensitive card data.</li>
                        <li><a href="@ViewBag.Documentation3DsEnrollmentUrl" target="_blank">Check</a> if the card is enrolled in 3D Secure. If the card is enrolled, the call will return the HTML of the authentication form of the issuer, to which you will redirect the user. This example uses a simulator.</li>
                        <li>Use the <a href="@ViewBag.Documentation3DsProcessResultUrl" target="_blank">PROCESS_ACS_RESULT</a> to check if the authentication was successful.</li>
                        <li>Use session.id and 3DSecureId to complete the transaction using <a href="@ViewBag.DocumentationTransactionPayUrl" target="_blank">PAY</a> or <a href="@ViewBag.DocumentationTransactionAuthorizeUrl" target="_blank">AUTHORIZE</a>.</li>
                    </ol>
                </div>
                <div>
                    <h6>Payment details</h6>
                    <div class="form-group">
                        <label for='card-number'>Card number:</label>
                        <input type="text" id="card-number" class="form-control input-md" value="" readonly>
                    </div>
                    <div class="form-group">
                        <label for='expiry-month'>Expiry month:</label>
                        <input type="text" id="expiry-month" class="form-control input-md" maxlength="2" value="">
                    </div>
                    <div class="form-group">
                        <label for='expiry-year'>Expiry year:</label>
                        <input type="text" id="expiry-year" class="form-control input-md" maxlength="4" value="">
                    </div>
                    <div class="form-group">
                        <label for='security-code'>Security code:</label>
                        <input type="text" id="security-code" class="form-control input-md" value="" readonly>
                    </div>
                </div>
                <div>
                    <h6>Order details</h6>
                    <div class="form-group">
                        <label for='order-id'>Order ID:</label>
                        <input asp-for="OrderId" type="text" id="order-id" class="form-control input-md">
                    </div>
                    <div class="form-group">
                        <label for='order-amount'>Order amount:</label>
                        <input asp-for="OrderAmount" type="text" id="order-amount" class="form-control input-md" maxlength="14">
                    </div>
                    <div class="form-group">
                        <label for='order-currency'>Order currency:</label>
                        <input asp-for="OrderCurrency" type="text" id="order-currency" class="form-control input-md" maxlength="3">
                    </div>
                    <div class="form-group">
                        <label for='order-description'>Description:</label>
                        <input asp-for="OrderDescription" type="text" id="order-description" class="form-control input-md" maxlength="127">
                    </div>
                    <div class="form-group">
                        <label for='transaction-id'>Transaction ID:</label>
                        <input asp-for="TransactionId" type="text" id="transaction-id" class="form-control input-md">
                    </div>
                </div>
                <button class="mt-4 btn btn-primary" id="payButton" onclick="pay();">Pay with 3DS</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/hostedSession.js"></script>