<div class="col-9 pl-4">
    <h3>Payment complete!</h3>
    <div>Your payment was @Model.GatewayCode</div>
    <div class="container mt-4 ml-0">
        <div class="row">
            <div class="col">
                <p> Order ID: @Model.OrderId</p>
            </div>
            @*<div class="col">
                <p>@Model.OrderId</p>
            </div>*@
        </div>
        @if (!String.IsNullOrEmpty(Model.OrderDescription))
        {
        <div class="row">
            <div class="col">
                Description
            </div>
            <div class="col">
                <p>@Model.OrderDescription</p>
            </div>
        </div>
        }
        <div class="row">
            <div class="col">
                Amount: @Model.OrderAmount @Model.OrderCurrency
            </div>
            @*<div class="col">
                <p>@Model.OrderAmount @Model.OrderCurrency</p>
            </div>*@
        </div>
        <div class="row">
            <div class="col">
                <p><h4> Thank You!</h4></p>
            </div> 
        </div>
    </div>
</div>