@using Nop.Core.Gateway
@model Nop.Core.Gateway.GatewayApiRequest

<div class="col-9">
    <div class="row">
        <form class="col-12 form-horizontal" asp-controller="PaymentApi" asp-action="process" method="post">
            <h3>Void</h3>
            <div class="alert alert-warning" role="alert">
                This API operation is typically not a browser initiated action. However, we are calling this action from browser only as a reference to get an idea of how it can be done through your application.
            </div>
            <fieldset>
                <input asp-for="TransactionId" id="transactionId" type="hidden" />
                <input asp-for="ApiOperation" id="apiOperation" type="hidden" />
                <input asp-for="ApiMethod" id="apiMethod" type="hidden" />
                <div class="form-group">
                    <label for="order-id">Order ID</label>
                        <input asp-for="OrderId" id="order-id" type="text" placeholder="[Order ID from existing transaction]" class="form-control input-md" required=""/>
                </div>
                <div class="form-group">
                    <label for="target-transaction-id">Target Transaction ID</label>
                        <input asp-for="TargetTransactionId" id="target-transaction-id" type="text" placeholder="[Transaction ID from existing transaction]" class="form-control input-md" required=""/>
                </div>
                <div class="form-group">
                   <button id="process" name="process" class="btn btn-primary">Process Void</button>
                </div>
            </fieldset>
        </form>
    </div> <!-- row -->
</div>
