﻿
@{
    Layout = "_Root.Head";
}

<div class="master-wrapper-page">

   
    <div class="header-links">



        @*@if (Model.IsAuthenticated)
        {
            <li><a href="@Url.RouteUrl("CustomerInfo")" class="ico-account">@T("Account.MyAccount")@Model.CustomerName</a></li>
            <li><a href="@Url.RouteUrl("Logout")" class="ico-logout">@T("Account.Logout")</a></li>
        }
        else
        {
            <li>Welcome Admin, please </li>
            <li><a href="@Url.RouteUrl("Login")" class="ico-login">@T("Account.Login")</a></li>
        }*@
    </div>
    
    <div class="header"> 
        <div class="header-lower">             
            <div class="header-logo">
                @await Component.InvokeAsync("Logo")
            </div>
        </div>
    </div>


    <div class="master-wrapper-content">

        <div class="header-links-wrapper">

        </div>

        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })
        @RenderBody()
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter })
    </div>
</div>
 
@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })


