﻿@inject Nop.Core.IWebHelper webHelper

@{
    Layout = "_Root.Head";
}

<div class="master-wrapper-page"> 
 
    <div  class="page-title" style="background-color: #4374E0;">
        <table align="center" cellpadding="50 ">
            <tr>
                <td height="80px">
                    <img src="~/AlMailemLogo.jpg" /> 
                </td>
            </tr>
        </table>
    </div>

    <div class="header">
        <div class="">
            @*header-lower*@
            <div class="header-logo">
                @*header-logo*@
                @*@await Component.InvokeAsync("Logo")*@
                @*<div class="main" style="height:80px; background-color: #4374E0; vertical-align: middle;">

                </div>*@
            </div>
        </div>
    </div>


    <div class="master-wrapper-content">

        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })
        @RenderBody()
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter })
    </div>
</div>

<table>
    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 10px; margin: 0;">
        <td class="alert alert-warning" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; color: #fff; font-weight: 500; border-radius: 3px 3px 0 0; background-color: #4374E1; margin: 0; padding: 5px;" align="center" bgcolor="#FF9F00" valign="top">
            <div style="background-color: #4374E0;">
                Follow us on <br /> <br />
                &nbsp;&nbsp;
                <a href="https://www.facebook.com/almailemgroup" target="_blank" rel="noopener">
                    <img width="40" height="40" style="width: 40px; height: 40px;" alt="facebook" src="~/facebook.png" border="0">
                </a>
                &nbsp;&nbsp;
                <a href="https://www.twitter.com/almailemgroup" target="_blank" rel="noopener">
                    <img width="40" height="40" style="width: 40px; height: 40px;" alt="twitter" src="~/twitter.png" border="0">
                </a>
                &nbsp;&nbsp; 
                <a href="https://www.instagram.com/almailemgroup" target="_blank" rel="noopener">
                    <img width="40" height="40" style="width: 40px; height: 40px;" alt="instagram" src="~/instagram.png" border="0">
                </a>
                &nbsp;&nbsp;
            </div>
        </td>
    </tr>
    <tr style=" background-color:#4374E0; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 10px; margin: 0;">
        <td class="alert alert-warning" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; color: #fff; font-weight: 500; border-radius: 3px 3px 0 0; margin: 0; padding: 5px;" align="center" valign="top">
            <div>
                © 2019 Almailem Group Kuwait. All Rights Reserved.
            </div>
        </td>  
    </tr>
</table>

@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })


