﻿@model CustomerBackInStockSubscriptionSearchModel

@using Nop.Services.Stores
@inject IStoreService storeService
@{
    var stores = storeService.GetAllStores();
}

@{
    //page title
    ViewBag.Title = T("Admin.Reports.RequestStock").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Request stock");
}
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Reports.Requeststock")
        </h1>
        <div class="pull-right">
            &nbsp;
        </div>
    </div>

    <div class="content">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="request-stock-grid"></div>
                <script>
                $(document).ready(function () {
                    $("#request-stock-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("RequestStockList", "Report"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: function() {
                                        var data = {
                                            @*CustomerId: '@(Model.Id)'*@
                                        };
                                        addAntiForgeryToken(data);
                                        return data;
                                    }
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(Model.PageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(Model.AvailablePageSizes)],
                            @await Html.PartialAsync("_GridPagerMessages")
                        },
                        editable: {
                            confirmation: "@T("Admin.Common.DeleteConfirmation")",
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "CustomerId",
                            title: "@T("admin.configuration.activitylog.activitylog.fields.customer")",
                            width: 200,
                            template: '<a href="@Url.Content("~/Admin/Customer/Edit/")#=CustomerId#">#:CustomerName#</a>'
                        },{
                            field: "ProductId",
                            title: "@T("Admin.Customers.Customers.BackInStockSubscriptions.Product")",
                            width: 300,
                            template: '<a href="@Url.Content("~/Admin/Product/Edit/")#=ProductId#">#:ProductName#</a>'
                        },{
                            field: "Quantity",
                            title: "@T("Admin.CurrentCarts.Quantity")",
                            width:200
                        },{
                            field: "CreatedOn",
                            title: "@T("Admin.Customers.Customers.Backinstocksubscriptions.RequestedOn")",
                            width: 200,
                            type: "date",
                            format: "{0:G}"
                        }]
                    });
                });
                </script>
            </div>
        </div>
    </div>